<!-- Header with Slideshow -->
<header class="w3-display-container w3-center">
    <div class="w3-animate-opacity">
      <img class="w3-image" src="/img/pexels-scott-webb-174752_large.jpg" alt="Image 1" style="min-width:500px; object-fit: cover; max-height: 45vh;" width="100%" >
      <div class="w3-display-left w3-padding w3-hide-small" style="width:35%">
        <div class="w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large">
          <h1 class="w3-xlarge">Limostines APP</h1>
          <hr class="w3-opacity">
          <p>Super simpel - Let at installere</p>
        </div>
      </div>
    </div>
  </header>
  